
nav {
    display: block;
    margin-right: 20px;
}

.nav_content {
    width: 157px;
    color: #285473;
    font-size: 12.5px;
    line-height: 27px;
}

svg {
    opacity: 0.75;
    box-sizing: border-box;
    top: 5px;
    padding-left: 5px;
}

.Icon, svg {
    display: inline !important;
    color: rgb(153, 178, 197);
    position: relative;
    margin-right: 5px;
}
.nav_content_item {
    vertical-align: baseline;
    cursor: pointer;
}

.nav_content_item:hover {
    background-color: rgb(225, 229, 235);
}